@page
@model az_webapp_trev_vs2022.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slots</h1>
</div>